.form-row, .row {
     padding: 1rem;
}
.col-12, .col-10, .col-5 {
    padding-bottom: .5rem;
}
.canvas {
    width: 600px;
    height: 600px;
    background-color: rgb(136, 241, 236);
    position: relative;
    contain: paint;
}
.sidepanel {
padding: .5rem;
}
.sidepanel>form>input {
margin-bottom: 1rem;
padding: 1rem;

}
.square {
    position: absolute;
    background-color: rgba(250, 0, 0, 0.678);
}
.rectangle {
    position: absolute;
    background-color: rgba(21, 255, 0, 0.486);
}
.circle {
    position: absolute;
    background-color: rgba(255, 0, 234, 0.534);
    border-radius: 50%;
}
.triangle {
    position: absolute;
    background-color: rgba(255, 238, 0, 0.932);
    width: 100px; /* Remove once triangle is fixed */
    height: 50px; /* Remove once triangle is fixed */
}